---
title: "home"
layout: default
permalink: "/home.html"
---

<div class="page-single spacer-20">
    <div class="entry-header column-group">
        <div class="two-column">
            <h1 class="posttitle">{{ page.title }}</h1>
            <p>{{ page.description }}</p> 
        </div>
    </div>

    <div class="entry-header">  
        <!-- Featured Image -->
        {% include featured-image.html %}
    </div>
</div>

<div class="section">
    <h2>Find us</h2>
    <div class="column-group">
        <div class="three-column">
            <h4>Social</h4>
            <p></p>
        </div>
    </div>
</div>

<!-- Content -->
{% include article.html %}

<!-- Comments if not disabled with comments: false -->
{% include comments.html %}