---
title: "home"
layout: default
permalink: "/home.html"
---


<div class="page-single">
    <div class="entry-header column-group hero">
        <div class="two-column">
            <h1 class="posttitle">_</h1>
            <h1 class="posttitle">{{ page.title }}</h1>
        </div>
    </div>
</div>
<!-- <div class="spacer-left-60 medium-img"> -->
    <!-- Featured Image -->
    <!-- {% include featured-image.html %}
</div> -->


<div class="section center spacer-40">
    <div class="spacer-60">
        <p>
            We play twice a week on Wednesdays and Satudays during the regular season. Drop-ins are $5 drop-in fee or $80 for the season.
            Pay to <b>@SFTouchRugby</b> on Venmo - any donations are welcome
        </p>
    </div>
    <div class="column-group">
        <div class="two-column">
            <h4>Wednesday</h4>
            <p> Raymond Kimbell Playground</br>
                7pm - 9pm</br>
                Drills starting 6:30pm</br>
                <a href="https://www.google.com/maps/dir//37.7828002,-122.435043/@37.7828,-122.435043,14z?hl=en">Directions</a>
            </p>
        </div>
        <div class="two-column">
            <h4>Saturday</h4>
            <p>
                Beach Chalet Fields</br>
                9am - 11am</br>
                <a href="https://www.google.com/maps/dir//Beach+Chalet+Fields,+1400-1598+John+F+Kennedy+Dr,+San+Francisco,+CA+94121/@37.7673557,-122.5109907,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x808587bc1af8eae7:0xe412b26d7c280eeb!2m2!1d-122.508802!2d37.7673557!3e0">Directions</a>
            </p>
        </div>
    </div>
</div>

<div class="section center spacer-40">
    <div class="column-group">
    </div>
</div>

<!-- Content -->
{% include article.html %}

<!-- Comments if not disabled with comments: false -->
{% include comments.html %}