---
title: "home"
layout: default
permalink: "/home.html"
---

<div class="page-single">
    <div class="entry-header column-group">
        <div class="column">
            <h1 class="posttitle">{{ page.title }}</h1>
            <p>{{ page.description }}</p> 
        </div>
        <div class="column">
            {% include featured-image.html %}
        </div>
    </div>

    <div class="entry-header">  
        <!-- Featured Image -->
        {% include featured-image.html %}
    </div>
</div>
<!-- Content -->
{% include article.html %}

<!-- Comments if not disabled with comments: false -->
{% include comments.html %}