---
title: "Landing"
layout: default
permalink: "/landing.html"
---

<div class="page-single">
    <div class="entry-header">       
        <h1 class="posttitle">{{ page.title }}</h1>
        <p>{{ page.description }}</p> 
    </div>
</div>

<div class="page-single">
    <div class="entry-header">  
        <!-- Featured Image -->
        {% include featured-image.html %}
    </div>
</div>
<!-- Content -->
{% include article.html %}

<!-- Comments if not disabled with comments: false -->
{% include comments.html %}